alembic : INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
At line:1 char:1
+ alembic upgrade head --sql > migration.sql 2>&1; Get-Content migratio ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl.:S 
   tring) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 890d75f54f33, 
initial_schema
-- Running upgrade  -> 890d75f54f33

CREATE TABLE analysis_results (
    domain VARCHAR NOT NULL, 
    cleaned_data_id VARCHAR NOT NULL, 
    metrics JSONB NOT NULL, 
    insights JSONB NOT NULL, 
    trends JSONB, 
    analyzed_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_analysis_results_analyzed_at ON analysis_results (analyzed_at);

CREATE INDEX ix_analysis_results_domain ON analysis_results (domain);

CREATE TABLE cars (
    make VARCHAR NOT NULL, 
    model VARCHAR NOT NULL, 
    year INTEGER NOT NULL, 
    condition VARCHAR NOT NULL, 
    mileage INTEGER, 
    price FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    vin VARCHAR, 
    color VARCHAR, 
    transmission VARCHAR, 
    fuel_type VARCHAR, 
    features VARCHAR[] NOT NULL, 
    seller_type VARCHAR NOT NULL, 
    seller_name VARCHAR, 
    seller_rating FLOAT, 
    seller_contact VARCHAR, 
    street VARCHAR, 
    city VARCHAR, 
    state VARCHAR, 
    zip_code VARCHAR, 
    images VARCHAR[] NOT NULL, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (vin)
);

CREATE INDEX ix_cars_condition ON cars (condition);

CREATE INDEX ix_cars_make_model ON cars (make, model);

CREATE INDEX ix_cars_price ON cars (price);

CREATE INDEX ix_cars_year ON cars (year);

CREATE TABLE cleaned_data (
    domain VARCHAR NOT NULL, 
    raw_data_id VARCHAR NOT NULL, 
    normalized_content JSONB NOT NULL, 
    quality FLOAT NOT NULL, 
    processed_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    user_id VARCHAR, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_cleaned_data_domain ON cleaned_data (domain);

CREATE INDEX ix_cleaned_data_quality ON cleaned_data (quality);

CREATE TABLE education (
    institution VARCHAR NOT NULL, 
    program VARCHAR NOT NULL, 
    degree VARCHAR NOT NULL, 
    major VARCHAR NOT NULL, 
    street VARCHAR, 
    city VARCHAR NOT NULL, 
    state VARCHAR, 
    country VARCHAR NOT NULL, 
    tuition FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    duration INTEGER NOT NULL, 
    overall_ranking INTEGER, 
    program_ranking INTEGER, 
    ranking_source VARCHAR, 
    admission_rate FLOAT, 
    average_gpa FLOAT, 
    employment_rate FLOAT, 
    average_salary FLOAT, 
    application_deadline TIMESTAMP WITH TIME ZONE, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_education_degree_major ON education (degree, major);

CREATE INDEX ix_education_institution ON education (institution);

CREATE INDEX ix_education_tuition ON education (tuition);

CREATE TABLE flights (
    airline VARCHAR NOT NULL, 
    flight_number VARCHAR NOT NULL, 
    departure_code VARCHAR NOT NULL, 
    departure_name VARCHAR NOT NULL, 
    departure_city VARCHAR NOT NULL, 
    arrival_code VARCHAR NOT NULL, 
    arrival_name VARCHAR NOT NULL, 
    arrival_city VARCHAR NOT NULL, 
    departure_time TIMESTAMP WITH TIME ZONE NOT NULL, 
    arrival_time TIMESTAMP WITH TIME ZONE NOT NULL, 
    duration INTEGER NOT NULL, 
    stops INTEGER NOT NULL, 
    price FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    cabin_class VARCHAR NOT NULL, 
    available_seats INTEGER, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_flights_departure_time ON flights (departure_time);

CREATE INDEX ix_flights_price ON flights (price);

CREATE INDEX ix_flights_route ON flights (departure_code, arrival_code);

CREATE TABLE hotels (
    name VARCHAR NOT NULL, 
    street VARCHAR, 
    city VARCHAR NOT NULL, 
    state VARCHAR, 
    zip_code VARCHAR, 
    country VARCHAR NOT NULL, 
    latitude FLOAT, 
    longitude FLOAT, 
    rating FLOAT, 
    review_score FLOAT, 
    review_count INTEGER, 
    price_per_night FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    amenities VARCHAR[] NOT NULL, 
    images VARCHAR[] NOT NULL, 
    distance_to_center FLOAT, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_hotels_location ON hotels (city, state);

CREATE INDEX ix_hotels_price ON hotels (price_per_night);

CREATE INDEX ix_hotels_review_score ON hotels (review_score);

CREATE TABLE houses (
    listing_type VARCHAR NOT NULL, 
    property_type VARCHAR NOT NULL, 
    street VARCHAR, 
    city VARCHAR NOT NULL, 
    state VARCHAR NOT NULL, 
    zip_code VARCHAR, 
    country VARCHAR NOT NULL, 
    latitude FLOAT, 
    longitude FLOAT, 
    price FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    bedrooms INTEGER NOT NULL, 
    bathrooms FLOAT NOT NULL, 
    square_feet INTEGER, 
    lot_size INTEGER, 
    year_built INTEGER, 
    features VARCHAR[] NOT NULL, 
    school_district_name VARCHAR, 
    school_district_rating FLOAT, 
    nearby_amenities VARCHAR[] NOT NULL, 
    images VARCHAR[] NOT NULL, 
    agent_name VARCHAR, 
    agent_contact VARCHAR, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_houses_bedrooms ON houses (bedrooms);

CREATE INDEX ix_houses_listing_type ON houses (listing_type);

CREATE INDEX ix_houses_location ON houses (city, state);

CREATE INDEX ix_houses_price ON houses (price);

CREATE TABLE insurance_claims (
    user_id VARCHAR NOT NULL, 
    insurance_type VARCHAR NOT NULL, 
    provider VARCHAR NOT NULL, 
    claim_number VARCHAR, 
    incident_date TIMESTAMP WITH TIME ZONE NOT NULL, 
    reported_date TIMESTAMP WITH TIME ZONE NOT NULL, 
    claim_type VARCHAR NOT NULL, 
    description TEXT NOT NULL, 
    damage_amount FLOAT, 
    settled_amount FLOAT, 
    status VARCHAR NOT NULL, 
    resolution TEXT, 
    documents VARCHAR[] NOT NULL, 
    photos VARCHAR[] NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_insurance_claims_incident_date ON insurance_claims (incident_date);

CREATE INDEX ix_insurance_claims_status ON insurance_claims (status);

CREATE INDEX ix_insurance_claims_type ON insurance_claims (insurance_type);

CREATE INDEX ix_insurance_claims_user_id ON insurance_claims (user_id);

CREATE TABLE insurance_products (
    provider VARCHAR NOT NULL, 
    product_name VARCHAR NOT NULL, 
    type VARCHAR NOT NULL, 
    premium FLOAT NOT NULL, 
    deductible FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    payment_frequency VARCHAR NOT NULL, 
    coverage_limit FLOAT NOT NULL, 
    rating FLOAT, 
    customer_satisfaction FLOAT, 
    features VARCHAR[] NOT NULL, 
    exclusions VARCHAR[] NOT NULL, 
    discount_types VARCHAR[] NOT NULL, 
    coverage_details JSONB, 
    eligibility_criteria JSONB, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    valid_until TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_insurance_products_premium ON insurance_products (premium);

CREATE INDEX ix_insurance_products_provider ON insurance_products (provider);

CREATE INDEX ix_insurance_products_type ON insurance_products (type);

CREATE INDEX ix_insurance_products_valid_until ON insurance_products (valid_until);

CREATE TABLE insurance_providers (
    name VARCHAR NOT NULL, 
    code VARCHAR NOT NULL, 
    logo VARCHAR, 
    website VARCHAR, 
    phone_number VARCHAR, 
    rating FLOAT, 
    customer_satisfaction FLOAT, 
    supported_types VARCHAR[] NOT NULL, 
    license_states VARCHAR[] NOT NULL, 
    am_best_rating VARCHAR, 
    features VARCHAR[] NOT NULL, 
    discount_programs VARCHAR[] NOT NULL, 
    claims_phone VARCHAR, 
    customer_service_hours VARCHAR, 
    is_active BOOLEAN NOT NULL, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (code), 
    UNIQUE (name)
);

CREATE INDEX ix_insurance_providers_code ON insurance_providers (code);

CREATE INDEX ix_insurance_providers_rating ON insurance_providers (rating);

CREATE TABLE insurance_quotes (
    user_id VARCHAR, 
    session_token VARCHAR, 
    insurance_type VARCHAR NOT NULL, 
    request_data JSONB NOT NULL, 
    zip_code VARCHAR NOT NULL, 
    quotes JSONB NOT NULL, 
    comparison_result JSONB, 
    status VARCHAR NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    product_id VARCHAR, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_insurance_quotes_expires_at ON insurance_quotes (expires_at);

CREATE INDEX ix_insurance_quotes_session_token ON insurance_quotes (session_token);

CREATE INDEX ix_insurance_quotes_status ON insurance_quotes (status);

CREATE INDEX ix_insurance_quotes_type ON insurance_quotes (insurance_type);

CREATE INDEX ix_insurance_quotes_user_id ON insurance_quotes (user_id);

CREATE INDEX ix_insurance_quotes_zip_code ON insurance_quotes (zip_code);

CREATE TABLE investments (
    product_name VARCHAR NOT NULL, 
    type VARCHAR NOT NULL, 
    ticker VARCHAR, 
    current_price FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    risk_level VARCHAR NOT NULL, 
    minimum_investment FLOAT, 
    provider VARCHAR NOT NULL, 
    description TEXT, 
    sector VARCHAR, 
    market_cap FLOAT, 
    dividend_yield FLOAT, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (ticker)
);

CREATE INDEX ix_investments_price ON investments (current_price);

CREATE INDEX ix_investments_risk_level ON investments (risk_level);

CREATE INDEX ix_investments_type ON investments (type);

CREATE TABLE jobs (
    title VARCHAR NOT NULL, 
    company VARCHAR NOT NULL, 
    street VARCHAR, 
    city VARCHAR NOT NULL, 
    state VARCHAR, 
    zip_code VARCHAR, 
    country VARCHAR NOT NULL, 
    job_type VARCHAR NOT NULL, 
    salary_min FLOAT, 
    salary_max FLOAT, 
    currency VARCHAR NOT NULL, 
    pay_period VARCHAR NOT NULL, 
    description TEXT NOT NULL, 
    requirements VARCHAR[] NOT NULL, 
    benefits VARCHAR[] NOT NULL, 
    hours_per_week INTEGER, 
    flexibility VARCHAR, 
    shifts VARCHAR[] NOT NULL, 
    posted_date TIMESTAMP WITH TIME ZONE NOT NULL, 
    application_url VARCHAR, 
    source VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_jobs_location ON jobs (city, state);

CREATE INDEX ix_jobs_salary ON jobs (salary_min, salary_max);

CREATE INDEX ix_jobs_type ON jobs (job_type);

CREATE TABLE price_history (
    domain VARCHAR NOT NULL, 
    item_id VARCHAR NOT NULL, 
    price FLOAT NOT NULL, 
    currency VARCHAR NOT NULL, 
    timestamp TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_price_history_domain_item ON price_history (domain, item_id);

CREATE INDEX ix_price_history_timestamp ON price_history (timestamp);

CREATE TABLE raw_data (
    domain VARCHAR NOT NULL, 
    source VARCHAR NOT NULL, 
    url VARCHAR, 
    content JSONB NOT NULL, 
    status VARCHAR NOT NULL, 
    scraped_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    user_id VARCHAR, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_raw_data_domain ON raw_data (domain);

CREATE INDEX ix_raw_data_scraped_at ON raw_data (scraped_at);

CREATE INDEX ix_raw_data_status ON raw_data (status);

CREATE TABLE recommendations (
    user_id VARCHAR NOT NULL, 
    domain VARCHAR NOT NULL, 
    item_id VARCHAR NOT NULL, 
    match_score FLOAT NOT NULL, 
    ranking INTEGER NOT NULL, 
    pros VARCHAR[] NOT NULL, 
    cons VARCHAR[] NOT NULL, 
    reasoning TEXT NOT NULL, 
    alternative_ids VARCHAR[] NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_recommendations_match_score ON recommendations (match_score);

CREATE INDEX ix_recommendations_user_domain ON recommendations (user_id, domain);

CREATE TABLE search_history (
    user_id VARCHAR NOT NULL, 
    domain VARCHAR NOT NULL, 
    parameters JSONB NOT NULL, 
    result_count INTEGER NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    id UUID NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_search_history_created_at ON search_history (created_at);

CREATE INDEX ix_search_history_domain ON search_history (domain);

CREATE INDEX ix_search_history_user_id ON search_history (user_id);

CREATE TABLE users (
    email VARCHAR, 
    password_hash VARCHAR, 
    name VARCHAR, 
    location VARCHAR, 
    budget FLOAT, 
    risk_tolerance VARCHAR, 
    user_type VARCHAR NOT NULL, 
    is_anonymous BOOLEAN NOT NULL, 
    session_token VARCHAR, 
    ip_address VARCHAR, 
    search_count INTEGER NOT NULL, 
    search_limit INTEGER NOT NULL, 
    last_search_at TIMESTAMP WITH TIME ZONE, 
    quota_reset_at TIMESTAMP WITH TIME ZONE, 
    subscription_status VARCHAR, 
    subscription_tier VARCHAR, 
    subscription_expiry TIMESTAMP WITH TIME ZONE, 
    id UUID NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (email), 
    UNIQUE (session_token)
);

CREATE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_session_token ON users (session_token);

CREATE INDEX ix_users_user_type ON users (user_type);

GRANT ALL ON analysis_results TO service_role;

GRANT ALL ON cars TO service_role;

GRANT ALL ON cleaned_data TO service_role;

GRANT ALL ON education TO service_role;

GRANT ALL ON flights TO service_role;

GRANT ALL ON hotels TO service_role;

GRANT ALL ON houses TO service_role;

GRANT ALL ON insurance_claims TO service_role;

GRANT ALL ON insurance_products TO service_role;

GRANT ALL ON insurance_providers TO service_role;

GRANT ALL ON insurance_quotes TO service_role;

GRANT ALL ON investments TO service_role;

GRANT ALL ON jobs TO service_role;

GRANT ALL ON price_history TO service_role;

GRANT ALL ON raw_data TO service_role;

GRANT ALL ON recommendations TO service_role;

GRANT ALL ON search_history TO service_role;

GRANT ALL ON users TO service_role;

GRANT SELECT ON flights TO authenticated;

GRANT SELECT ON flights TO anon;

GRANT SELECT ON hotels TO authenticated;

GRANT SELECT ON hotels TO anon;

GRANT SELECT ON houses TO authenticated;

GRANT SELECT ON houses TO anon;

GRANT SELECT ON cars TO authenticated;

GRANT SELECT ON cars TO anon;

GRANT SELECT ON jobs TO authenticated;

GRANT SELECT ON jobs TO anon;

GRANT SELECT ON education TO authenticated;

GRANT SELECT ON education TO anon;

GRANT SELECT ON investments TO authenticated;

GRANT SELECT ON investments TO anon;

INSERT INTO alembic_version (version_num) VALUES ('890d75f54f33') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade 890d75f54f33 -> 
add_auth_tables_001, add_auth_tables
-- Running upgrade 890d75f54f33 -> add_auth_tables_001

ALTER TABLE users ADD COLUMN email_verified BOOLEAN DEFAULT 'false' NOT NULL;

ALTER TABLE users ADD COLUMN email_verified_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE users ADD COLUMN oauth_provider VARCHAR;

ALTER TABLE users ADD COLUMN oauth_provider_id VARCHAR;

ALTER TABLE users ADD COLUMN last_login_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE users ADD COLUMN last_login_ip VARCHAR;

ALTER TABLE users ADD COLUMN account_locked_until TIMESTAMP WITH TIME ZONE;

ALTER TABLE users ADD COLUMN deletion_requested_at TIMESTAMP WITH TIME ZONE;

CREATE INDEX ix_users_oauth_provider_id ON users (oauth_provider, oauth_provider_id);

CREATE TABLE refresh_tokens (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    token_hash VARCHAR NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    is_revoked BOOLEAN DEFAULT 'false' NOT NULL, 
    device_info VARCHAR, 
    ip_address VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_refresh_tokens_user_id ON refresh_tokens (user_id);

CREATE INDEX ix_refresh_tokens_token_hash ON refresh_tokens (token_hash);

CREATE INDEX ix_refresh_tokens_expires_at ON refresh_tokens (expires_at);

CREATE TABLE password_reset_tokens (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    token_hash VARCHAR NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    is_used BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_password_reset_tokens_user_id ON password_reset_tokens (user_id);

CREATE INDEX ix_password_reset_tokens_token_hash ON password_reset_tokens (token_hash);

CREATE TABLE login_attempts (
    id UUID NOT NULL, 
    email VARCHAR NOT NULL, 
    ip_address VARCHAR NOT NULL, 
    success BOOLEAN NOT NULL, 
    attempted_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_login_attempts_email ON login_attempts (email);

CREATE INDEX ix_login_attempts_ip_address ON login_attempts (ip_address);

CREATE INDEX ix_login_attempts_attempted_at ON login_attempts (attempted_at);

CREATE INDEX ix_login_attempts_email_ip ON login_attempts (email, ip_address);

GRANT ALL ON refresh_tokens TO service_role;

GRANT ALL ON password_reset_tokens TO service_role;

GRANT ALL ON login_attempts TO service_role;

UPDATE alembic_version SET version_num='add_auth_tables_001' WHERE alembic_version.version_num = '890d75f54f33';

INFO  [alembic.runtime.migration] Running upgrade add_auth_tables_001 -> 
add_admin_tables_001, add_admin_tables
-- Running upgrade add_auth_tables_001 -> add_admin_tables_001

CREATE TABLE admin_users (
    id UUID NOT NULL, 
    username VARCHAR(50) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    name VARCHAR(100), 
    role VARCHAR(20) DEFAULT 'admin' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    last_login_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (username), 
    UNIQUE (email)
);

CREATE INDEX ix_admin_users_username ON admin_users (username);

CREATE INDEX ix_admin_users_email ON admin_users (email);

CREATE TABLE subscription_plans (
    id UUID NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    name_en VARCHAR(100) NOT NULL, 
    description TEXT, 
    description_en TEXT, 
    price FLOAT DEFAULT '0.0' NOT NULL, 
    currency VARCHAR(10) DEFAULT '''USD''' NOT NULL, 
    billing_period VARCHAR(20) DEFAULT '''monthly''' NOT NULL, 
    daily_quota INTEGER DEFAULT '5' NOT NULL, 
    features VARCHAR[] DEFAULT '{}' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_subscription_plans_is_active ON subscription_plans (is_active);

CREATE INDEX ix_subscription_plans_sort_order ON subscription_plans (sort_order);

CREATE TABLE system_configs (
    id UUID NOT NULL, 
    key VARCHAR(100) NOT NULL, 
    value TEXT NOT NULL, 
    description TEXT, 
    category VARCHAR(50) DEFAULT '''general''' NOT NULL, 
    is_sensitive BOOLEAN DEFAULT 'false' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (key)
);

CREATE INDEX ix_system_configs_key ON system_configs (key);

CREATE INDEX ix_system_configs_category ON system_configs (category);

GRANT ALL ON admin_users TO service_role;

GRANT ALL ON subscription_plans TO service_role;

GRANT ALL ON system_configs TO service_role;

GRANT SELECT ON subscription_plans TO authenticated;

GRANT SELECT ON system_configs TO authenticated;

UPDATE alembic_version SET version_num='add_admin_tables_001' WHERE alembic_version.version_num = 'add_auth_tables_001';

INFO  [alembic.runtime.migration] Running upgrade add_admin_tables_001 -> 
add_admin_content_001, add_admin_content_tables
-- Running upgrade add_admin_tables_001 -> add_admin_content_001

CREATE TABLE domains (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    name_en VARCHAR(100) NOT NULL, 
    description TEXT, 
    description_en TEXT, 
    icon VARCHAR(50), 
    color VARCHAR(20), 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name), 
    UNIQUE (name_en)
);

CREATE INDEX ix_domains_is_active ON domains (is_active);

CREATE INDEX ix_domains_sort_order ON domains (sort_order);

CREATE TABLE prompt_templates (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description TEXT, 
    domain_id UUID, 
    template TEXT NOT NULL, 
    variables VARCHAR[] DEFAULT '{}' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_prompt_templates_domain_id ON prompt_templates (domain_id);

CREATE INDEX ix_prompt_templates_is_active ON prompt_templates (is_active);

CREATE TABLE questions (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    domain_id UUID NOT NULL, 
    question TEXT NOT NULL, 
    question_en TEXT NOT NULL, 
    field_name VARCHAR(100) NOT NULL, 
    field_type VARCHAR(50) DEFAULT '''text''' NOT NULL, 
    options JSONB, 
    validation JSONB, 
    is_required BOOLEAN DEFAULT 'true' NOT NULL, 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_questions_domain_id ON questions (domain_id);

CREATE INDEX ix_questions_sort_order ON questions (sort_order);

CREATE TABLE crawl_sources (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    domain_id UUID, 
    url VARCHAR(500) NOT NULL, 
    source_type VARCHAR(50) DEFAULT '''web''' NOT NULL, 
    config JSONB, 
    schedule VARCHAR(100), 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    last_crawled_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_crawl_sources_domain_id ON crawl_sources (domain_id);

CREATE INDEX ix_crawl_sources_is_active ON crawl_sources (is_active);

CREATE TABLE crawl_tasks (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    source_id UUID NOT NULL, 
    status VARCHAR(20) DEFAULT '''pending''' NOT NULL, 
    started_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    items_count INTEGER DEFAULT '0' NOT NULL, 
    error_message TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_crawl_tasks_source_id ON crawl_tasks (source_id);

CREATE INDEX ix_crawl_tasks_status ON crawl_tasks (status);

GRANT ALL ON domains TO service_role;

GRANT ALL ON prompt_templates TO service_role;

GRANT ALL ON questions TO service_role;

GRANT ALL ON crawl_sources TO service_role;

GRANT ALL ON crawl_tasks TO service_role;

GRANT SELECT ON domains TO authenticated;

GRANT SELECT ON domains TO anon;

UPDATE alembic_version SET version_num='add_admin_content_001' WHERE alembic_version.version_num = 'add_admin_tables_001';

INFO  [alembic.runtime.migration] Running upgrade add_admin_content_001 -> 
add_prompt_templates_fields_001, add_prompt_templates_fields
-- Running upgrade add_admin_content_001 -> add_prompt_templates_fields_001

ALTER TABLE prompt_templates ADD COLUMN category VARCHAR(50) DEFAULT '''tool''';

ALTER TABLE prompt_templates ADD COLUMN source VARCHAR(50) DEFAULT '''official''';

ALTER TABLE prompt_templates ADD COLUMN repo VARCHAR(200);

CREATE INDEX ix_prompt_templates_category ON prompt_templates (category);

CREATE INDEX ix_prompt_templates_source ON prompt_templates (source);

UPDATE alembic_version SET version_num='add_prompt_templates_fields_001' WHERE alembic_version.version_num = 'add_admin_content_001';

INFO  [alembic.runtime.migration] Running upgrade add_admin_content_001 -> 
add_chat_tables_001, add_chat_tables
-- Running upgrade add_admin_content_001 -> add_chat_tables_001

CREATE TABLE chat_sessions (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    user_id UUID, 
    domain VARCHAR(50), 
    title VARCHAR(200), 
    context JSONB, 
    message_count INTEGER DEFAULT '0' NOT NULL, 
    last_message_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_chat_sessions_user_id ON chat_sessions (user_id);

CREATE INDEX ix_chat_sessions_domain ON chat_sessions (domain);

CREATE INDEX ix_chat_sessions_created_at ON chat_sessions (created_at);

CREATE TABLE chat_messages (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    session_id UUID NOT NULL, 
    role VARCHAR(20) NOT NULL, 
    content TEXT NOT NULL, 
    metadata JSONB, 
    tokens_used INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(session_id) REFERENCES chat_sessions (id) ON DELETE CASCADE
);

CREATE INDEX ix_chat_messages_session_id ON chat_messages (session_id);

CREATE INDEX ix_chat_messages_role ON chat_messages (role);

CREATE INDEX ix_chat_messages_created_at ON chat_messages (created_at);

GRANT ALL ON chat_sessions TO service_role;

GRANT SELECT, INSERT, UPDATE ON chat_sessions TO authenticated;

GRANT ALL ON chat_messages TO service_role;

GRANT SELECT, INSERT, UPDATE ON chat_messages TO authenticated;

INSERT INTO alembic_version (version_num) VALUES ('add_chat_tables_001') RETURNING alembic_version.version_num;

INFO  [alembic.runtime.migration] Running upgrade add_chat_tables_001, 
add_prompt_templates_fields_001 -> ec1fe026126c, merge_heads
-- Running upgrade add_chat_tables_001, add_prompt_templates_fields_001 -> ec1fe026126c

DELETE FROM alembic_version WHERE alembic_version.version_num = 'add_chat_tables_001';

UPDATE alembic_version SET version_num='ec1fe026126c' WHERE alembic_version.version_num = 'add_prompt_templates_fields_001';

INFO  [alembic.runtime.migration] Running upgrade ec1fe026126c -> 
add_skills_table_001, add_skills_table
-- Running upgrade ec1fe026126c -> add_skills_table_001

CREATE TABLE skills (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description TEXT, 
    category VARCHAR(50) DEFAULT '''tool''' NOT NULL, 
    source VARCHAR(50) DEFAULT '''official''' NOT NULL, 
    repo VARCHAR(200), 
    content TEXT, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE INDEX ix_skills_category ON skills (category);

CREATE INDEX ix_skills_source ON skills (source);

CREATE INDEX ix_skills_is_active ON skills (is_active);

GRANT ALL ON skills TO service_role;

GRANT SELECT ON skills TO authenticated;

GRANT SELECT ON skills TO anon;

DROP INDEX ix_prompt_templates_source;

DROP INDEX ix_prompt_templates_category;

ALTER TABLE prompt_templates DROP COLUMN repo;

ALTER TABLE prompt_templates DROP COLUMN source;

ALTER TABLE prompt_templates DROP COLUMN category;

UPDATE alembic_version SET version_num='add_skills_table_001' WHERE alembic_version.version_num = 'ec1fe026126c';

INFO  [alembic.runtime.migration] Running upgrade add_skills_table_001 -> 
add_skill_categories_001, add_skill_categories_table
-- Running upgrade add_skills_table_001 -> add_skill_categories_001

CREATE TABLE skill_categories (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    type VARCHAR(20) NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    label_zh VARCHAR(100) NOT NULL, 
    label_en VARCHAR(100), 
    color VARCHAR(50), 
    icon VARCHAR(50), 
    sort_order INTEGER DEFAULT '0' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_skill_categories_type_code UNIQUE (type, code)
);

CREATE INDEX ix_skill_categories_type ON skill_categories (type);

GRANT ALL ON skill_categories TO service_role;

GRANT SELECT ON skill_categories TO authenticated;

GRANT SELECT ON skill_categories TO anon;

Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Scripts\alembic.ex
e\__main__.py", line 7, in <module>
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\config.py", line 630, in main
    CommandLine(prog=prog).main(argv=argv)
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\config.py", line 624, in main
    self.run_cmd(cfg, options)
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\config.py", line 601, in run_cmd
    fn(
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\command.py", line 401, in upgrade
    script.run_env()
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\script\base.py", line 585, in run_env
    util.load_python_file(self.dir, "env.py")
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\util\pyfiles.py", line 93, in load_python_file
    module = load_module_py(module_id, path)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\util\pyfiles.py", line 109, in load_module_py
    spec.loader.exec_module(module)  # type: ignore
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<frozen importlib._bootstrap_external>", line 999, in exec_module
  File "<frozen importlib._bootstrap>", line 488, in _call_with_frames_removed
  File "C:\Users\40270\OneDrive\Desktop\workspace\rehui-advisor-platform\backend\
alembic\env.py", line 92, in <module>
    run_migrations_offline()
  File "C:\Users\40270\OneDrive\Desktop\workspace\rehui-advisor-platform\backend\
alembic\env.py", line 52, in run_migrations_offline
    context.run_migrations()
  File "<string>", line 8, in run_migrations
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\runtime\environment.py", line 939, in run_migrations
    self.get_context().run_migrations(**kw)
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\runtime\migration.py", line 624, in run_migrations
    step.migration_fn(**kw)
  File "C:\Users\40270\OneDrive\Desktop\workspace\rehui-advisor-platform\backend\
alembic\versions\add_skill_categories_table.py", line 48, in upgrade
    op.execute("""
  File "<string>", line 8, in execute
  File "<string>", line 3, in execute
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\operations\ops.py", line 2521, in execute
    return operations.invoke(op)
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\operations\base.py", line 393, in invoke
    return fn(self, operation)
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\operations\toimpl.py", line 221, in execute_sql
    operations.migration_context.impl.execute(
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\ddl\impl.py", line 211, in execute
    self._exec(sql, execution_options)
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\ddl\impl.py", line 190, in _exec
    self.static_output(
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\site-packages\
alembic\ddl\impl.py", line 134, in static_output
    self.output_buffer.write(text + "\n\n")
  File "C:\Users\40270\AppData\Local\Programs\Python\Python312\Lib\encodings\cp12
52.py", line 19, in encode
    return codecs.charmap_encode(input,self.errors,encoding_table)[0]
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
UnicodeEncodeError: 'charmap' codec can't encode characters in position 119-122: 
character maps to <undefined>
